<h1 class="text-center">Single Artist & Customer Details</h1>
<div class="container">
    <div class="jumbotron">
        <h3 class="text-center">Artist's Details : </h3>
        <ul class="artist-data">
            <li><b>Artist Name : </b>{{NewMusic.artist_bio[0].first_name}} {{NewMusic.artist_bio[0].last_name}}</li>
            <li><b>City : </b>{{NewMusic.artist_bio[0].city}}</li>
            <li><b>Song Name : </b>{{NewMusic.songname}}</li>
            <li><b>Album : </b>{{NewMusic.album}}</li>
            <li><b>Language : </b>{{NewMusic.language}}</li>
            <li><b>Albums Sold : </b>{{NewMusic.sold}}</li>
        </ul>
        <h3 class="text-center">Customer Details :</h3>
        <ul class="customer-data">

            <li><b>Customer Full Name : </b>{{NewMusic.customer_details[0].customer_first_name}} {{NewMusic.customer_details[0].customer_last_name}}</li>
            <li><b>Customer Address : </b>{{NewMusic.customer_details[0].customer_address}}</li>
            <li><b>Postal Code : </b>{{NewMusic.customer_details[0].postal_code}}</li>
            <li><b>Customer Debit/Credit Card Number : </b>{{NewMusic.customer_details[0].card_details}}</li>

        </ul>
    </div>
</div>

<!--Modal Start-->
  <div class="modal fade" id="updateDataModal" tabindex="-1" role="dialog" aria-labelledby="updateDataModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateDataLabel">Update Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!--Modal Body-->
           
            <div class="was-validated">
              <div class="form-group">
                <label for="fname">Artist First Name: </label>
                <input type="text" class="form-control" id="modal_fname" placeholder="Enter First Name Here" name="fname" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
    
              <div class="form-group">
                  <label for="lname">Artist Last Name: </label>
                  <input type="text" class="form-control" id="modal_lname" placeholder="Enter Last Name Here" name="lname" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
              </div>
    
              <div class="form-group">
                  <label for="city">Artist City: </label>
                  <input type="text" class="form-control" id="modal_city" placeholder="Enter City Here" name="city" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
    
                <div class="form-group">
                  <label for="song">Song Name: </label>
                  <input type="text" class="form-control" id="modal_song" placeholder="Enter Song Name Here" name="songname" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
    
                <div class="form-group">
                  <label for="album">Album: </label>
                  <input type="text" class="form-control" id="modal_album" placeholder="Enter Album Name Here" name="album" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
    
                <div class="form-group">
                  <label for="language">Language: </label>
                  <input type="text" class="form-control" id="modal_language" placeholder="Enter Language Here" name="language" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
    
                
                <div class="form-group">
                  <label for="sold">Albums Sold: </label>
                  <input type="text" class="form-control" id="modal_album_sold" placeholder="Enter Albums Sold Here" name="sold" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
    
                <div class="form-group">
                  <label for="customer_fname">Customer First Name: </label>
                  <input type="text" class="form-control" id="modal_customer_fname" placeholder="Enter Your First Name Here" name="customer_fname" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
    
                <div class="form-group">
                  <label for="customer_lname">Customer Last Name: </label>
                  <input type="text" class="form-control" id="modal_customer_lname" placeholder="Enter Your First Name Here" name="customer_lname" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
    
                <div class="form-group">
                  <label for="customer_address">Customer Address: </label>
                  <input type="text" class="form-control" id="modal_customer_address" placeholder="Enter Your Address Here" name="customer_address" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
    
                <div class="form-group">
                  <label for="customer_postal_code">Postal Code: </label>
                  <input type="text" class="form-control" id="modal_customer_postal_code" placeholder="Enter Postal Code Here" name="customer_postal_code" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
    
                <div class="form-group">
                  <label for="customer_card">Debit/Credit Card Number: </label>
                  <input type="text" class="form-control" id="modal_customer_card" placeholder="Enter Your Debit/Credit Card Number Here" name="customer_card" required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
             
                <button type="button" (click)="updateFunction()" class="btn btn-success submit_btn">Submit</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
              </div>
              
          
            <!--Modal Body-->
        </div>
        <div class="modal-footer">
         
        </div>
      
      
      </div>
    </div>
  </div>
<!--Modal End-->

<div class="container">
    <button type="button" class="btn btn-info update-btn" data-toggle="modal" data-target="#updateDataModal">Update</button>
    <button class="btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal">Delete</button>
    <a routerLink=""><button class="btn btn-success home-btn">Home</button></a>
</div>

<!--Delete Modal Acknowledgement-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this record ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteFunction()">Yes, delete</button>
      </div>
    </div>
  </div>
</div>
<!--Delete Modal Acknowledgement-->