extends layout

block content
 .container
  .jumbotron
    h1.text-center About The Music Store 
    h4.text-center We're the most popular store in the town where you can find and shop your favourite artists' songs! 
 .container 
  h1.text-center "All you need is good music!"

 .container 
    img(src='/images/about_title.jpg' style={"width": "100%", "margin-bottom": "30px"} ) 
