doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js") 
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")  
  body
  
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      a.navbar-brand(href='/.') The Music Store
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/artists') Artists 
        li.nav-item 
          a.nav-link(href='/register') Register

  

    block content
    block scripts
      script(src="/build/main.es5.js")
      script(src="/build/polyfills.es5.js")
      script(src="/build/runtime.es5.js")
      script(src="/build/styles.es5.js")
      script(src="/build/vendor.es5.js")
      script(src="/build/main.es5.js")      
   
