<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">
            About The Music Store
        </h1>
        <h4 class="text-center">We're the most popular store in the town where you can find and shop your favourite artists' songs!</h4>
        
    </div>
</div>

<div class="container">
    <h1 class="text-center">"All you need is good Music!"</h1>
</div>
<div class="container">
    <img src="../../assets/images/about_title.jpg" class="about-image" alt="About Image">
</div>